/* You can add global styles to this file, and also import other style files */
body{
    background-color: whitesmoke;
}

.center{
    text-align: center;
}

.vide{
    height: 20px;
}

.auto{
    display:  inline-block;
    vertical-align: middle;
}